{% load i18n %}

{% block subject %}
{% blocktrans %}Restablecimiento de contraseña en {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block html_body %}
<p>{% blocktrans %}Has recibido este correo electrónico porque solicitaste restablecer la contraseña de tu cuenta en {{ site_name }}.{% endblocktrans %}</p>

<p>{% trans "Por favor, haz clic en el siguiente enlace para elegir una nueva contraseña:" %}</p>
<a href="{{ protocol }}://{{ domain }}/{{ url|safe }}">{{ protocol }}://{{ domain }}/{{ url|safe }}</a>

<p>{% trans "Tu nombre de usuario, en caso de que lo hayas olvidado:" %} <b>{{ user.get_username }}</b></p>

<p>{% trans "¡Gracias por usar nuestro sitio!" %}</p>

<p>{% blocktrans %}El equipo de {{ site_name }}{% endblocktrans %}</p>
{% endblock html_body %}
